<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=".././static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="content-container">
        <h1>Unit project 2</h1>
    </div>

            <div class="anchor-1">
                <a href="/cupcakes">All Cupcakes</a>
            </div>
            <div class="anchor-2">
                <a href="/cupcake_individual">Individual Cupcakes</a>
            </div>
            <div class="anchor-3">
                <a href="/order">Order</a>
            </div>
    <!-- <h2>The word is {{ word }}</h2>

    {% for word in words %}
        {% if word[0] == "c"  %}
            <h3>{{ word }}</h3>
        {% else %}
            <h3>Doesn't begin with c</h3>
        {% endif %}
    {% endfor %} -->
</body>
</html>